body {
	
}
/*Sección 01*/
.principal {
	background-image: url(../img/home/2560_new.jpg);
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	color: #fff;
}